<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Дым Кудрявый
        link(rel="stylesheet" href="style.css")
    body
        include ../LAYOUT/header.pug
        include ../LAYOUT/traditions.pug
        include ../LAYOUT/slider.pug
        include ../LAYOUT/menu.pug
        include ../LAYOUT/advantages.pug
        include ../LAYOUT/news.pug
        include ../LAYOUT/footer.pug
        
    script(src="jquery-3.5.0.min.js")
    script(src="slick.min.js")
    script(src="index.js")
