.advantages
    .advantages__spotlight
    .advantages__info
        .info__row
            .info__title У нас уютно
            .info__img
        .info__list
            .info__list-item Шикарный вид на город с 50-го этажа БЦ «Высоцкий»
            .info__list-item Авторские миксы, которые меняются каждый месяц и способны удовлетворить каждого требовательного гостя
            .info__list-item Уникальная атмосфера уединения и комфорта
            .info__list-item Персонал — подготовленные мастера своего дела