.footer
    .footer__banner
        .container
            .footer__wrapper
                .footer__info
                    .footer__title Наш клуб входит в состав ресторана Panorama ASP
                    .footer__text Поэтому гости могут не только насладиться дымным, но и попробовать самые разнообразные коктейли, а также вкусно поесть
                .footer__button
                    a Подробнее о ресторане
    .footer__contacts
        .footer__map 
            .map__title Map is here!
        .footer__contacts-wrapper
            .contacts__row
                .contacts__title Контакты
                .contacts__img
            .contacts__items
                .contacts__item
                    .contacts-item--phone.contacts__item-link +7 (343) 298-98-88
                .contacts__item
                    .contacts-item--location
                    | Екатеринбург, ул. Малышева 51,
                    | БЦ Высоцкий, 50 этаж
                .contacts__item
                    .contacts-item--schedule
                    | вс-чт с 16:00 до 00:00 
                    | пт-сб с 16:00 до 04:00
            .contacts__buttons
                .contacts__button
                    .contacts__button--f Facebook
                .contacts__button
                    .contacts__button--i Instagram