.header
    .container
        .header__row
            .header__title Дым Кудрявый
            .header__social-links
                a.social-links__link
                    img(src="/IMG/vk.png" alt="vk-link")
                a.social-links__link
                    img(src="/IMG/inst.png" alt="inst-link")
                a.social-links__link
                    img(src="/IMG/f.png" alt="f-link")
            .header__burger
                span
            .header__menu
                ul.header__list
                    li
                        a(href="#traditions").header__link О клубе
                    li
                        a(href="#interior").header__link Интерьер
                    li
                        a(href="#menu").header__link Меню
                    li
                        a(href="#advantages").header__link Преимущества
                    li
                        a(href="#news").header__link Новости
                    li
                        a(href="#footer").header__link Контакты
                    li.list__social-links
                        a.social-links__link
                            img(src="/IMG/vk.png" alt="vk-link")
                        a.social-links__link
                            img(src="/IMG/inst.png" alt="inst-link")
                        a.social-links__link
                            img(src="/IMG/f.png" alt="f-link")
        .header__square
            .header__square-title Самый шикарный курительный клуб Урала
        .header__contacts
            .header__contacts-item
                .header__contacts-item--phone.header__contacts-item-link +7 (343) 298-98-88
            .header__contacts-item
                .header__contacts-item--schedule 
                | вс-чт с 16:00 до 00:00 
                | пт-сб с 16:00 до 04:00
            .header__contacts-item
                .header__contacts-item--location 
                | Екатеринбург, 
                | БЦ Высоцкий, 50 этаж