.container
    .menu
        .menu__row
            .menu__title Меню
            .menu__img
        .menu__tabs
            nav.tabs__items
                .tabs__item.active__tab(data-tab="1") Фирменные кальяны
                .tabs__item(data-tab="2") Сигары и сигарилы
                .tabs__item(data-tab="3") Классические кальяны
            .tabs__body
                .tabs__block
                    .tabs__slider.active__tab(data-tab="1")
                        .slider__item
                            .slider__title-row 
                                .slider__title «Баунти»
                                .slider__price 3000 ₽
                            .slider__info
                                p.info__item <span>Добавки:</span> шоколад, молоко, кокосовый сироп
                                p.info__item <span>Чаша:</span> ананас
                                p.info__item <span>Крепость:</span> средняя
                        .slider__item
                            .slider__title-row
                                .slider__title «Мохито»
                                .slider__price 3000 ₽
                            .slider__info
                                p.info__item <span>Добавки:</span> мята, лайм, белый ром и много-много льда
                                p.info__item <span>Чаша на выбор:</span> яблоко, апельсин, грейпфрут
                                p.info__item <span>Крепость:</span> крепкий
                        .slider__item
                            .slider__title-row
                                .slider__title «Пина колада»
                                .slider__price 3000 ₽
                            .slider__info
                                p.info__item <span>Добавки:</span> молоко, ананасовый сок, кокосовый сироп, лед
                                p.info__item <span>Чаша:</span> ананас
                                p.info__item <span>Крепость:</span> средняя
                .tabs__block
                    .tabs__slider(data-tab="2")
                        .slider__item-cigars
                            .slider__title-row 
                                .slider__title Куба
                            .slider__info-cigars
                                p.info__item--cigars 
                                    |Cohiba Panatelas
                                    |Cohiba Siglo II
                                    |Cohiba Siglo IV
                                    |Cohiba Siglo V
                                    |Cohiba Robustos
                                    |H. Upmann Magnum
                                    |Hoyo De Mont. Epicure №
                                    |Montecristo №4
                                    |Partagas Serie №4
                                    |Romeo & Julieta Churchliss
                                    |Romeo & Julieta №2 
                        .slider__item-cigars                             
                            .slider__title-row
                                .slider__title Доминикана
                            .slider__info-cigars
                                p.info__item--cigars
                                    |CT Reserva Decadencia Churchill 
                                    |Arturo Fuente Anejo №77 Shark 
                                    |Davidoff Escurio Gran Perfecto 
                                    |Davidoff WSC Churchill 
                                    |Zino Platinum XS 
                                    |Zino Platinum Barrel 
                                    |Macanudo Cafe Ascots 
                                    |Macanudo Maduro Ascots
                        .slider__item-cigars
                            .slider__title-row
                                .slider__title Никарагуа
                            .slider__info-cigars
                                p.info__item--cigars-badone
                                    |Nub Sun Grown 460 Tubos 
                .tabs__block 
                    .tabs__slider(data-tab="3")
                        .slider__item-classic
                            .slider__title-row 
                                .slider__title Кальяны на глиняной чаше
                            .slider__info-classic
                                .info__item--classic
                                    p Standart: <span>1200 ₽</span>
                                    p Крепость: легкий
                                .info__item--classic
                                    p Premium: <span>1500 ₽</span>
                                    p Крепость: крепкий
                                .info__item--classic
                                    .item-title Замена чаши
                                    p Standart: <span>900 ₽</span>
                                    p Premium: <span>1200 ₽</span>            
                        .slider__item-classic                             
                            .slider__title-row
                                .slider__title Кальяны на фруктовой чаше
                            .slider__info-classic
                                .info__item--classic
                                    .item-title Апельсин
                                    p Standart: <span>1600 ₽</span>
                                    p Premium: <span>1900 ₽</span>
                                .info__item--classic
                                    .item-title Яблоко
                                    p Standart: <span>1600 ₽</span>
                                    p Premium: <span>1900 ₽</span>
                                .info__item--classic
                                    .item-title Грейпфрут
                                    p Standart: <span>1900 ₽</span>
                                    p Premium: <span>2300 ₽</span>
                                .info__item--classic
                                    .item-title Ананас
                                    p Standart: <span>2200 ₽</span>
                                    p Premium: <span>2700 ₽</span>
                        .slider__item-classic
                            .slider__title-row
                                .slider__title Добавки в колбу
                            .slider__info-classic
                                .info__item--classic
                                    p Вино: <span>600 ₽</span>
                                    p Мята: <span>100 ₽</span>
                                    p Молоко: <span>200 ₽</span>
                                    p Сок в ассортименте: <span>300 ₽</span>
                                .info__item--classic-note
                                    p Вы можете добавить в кальян любой алкоголь из барной карты ресторана Panorama A.S.P.
