.container
    .news__slider
        .news__slider__row
            .slider__title Новости
        .news__slider__body
            .slider__item
                img(src="IMG/sofa.png" alt="Sofa")
                .slider__data 8 апреля
                .slider__info Наш курительный клуб ежедневно работает с 16:00
            .slider__item
                img(src="IMG/bar_docks.png" alt="Bar")
                .slider__data 24 марта
                .slider__info Дорогие гости, по выходным наш курительный клуб работает до 4 утра
            .slider__item    
                img(src="IMG/chivas.png" alt="Chivas")
                .slider__data 12 марта
                .slider__info Готовимся к вечеру с сигарами Davidoff