.interior
    .container
        .slider
            .slider__row
                .slider__title Интерьер
            .slider__body
                .slider__item
                    img(src="IMG/bar.png" alt="Bar")
                .slider__item
                    img(src="IMG/place.png" alt="Place")
                .slider__item    
                    img(src="IMG/closet.png" alt="Closet")
                .slider__item    
                    img(src="IMG/hookahs.png" alt="Hookahs")