.container
    .traditions
        .traditions__lead
            .traditions__title Возраждаем традицию
            .traditions__text Сигара в достойной компании, оттененная бокалом бренди, всегда была не только обязательным атрибутом джентльмена, но и данью традициям. Поклонники сигар встречались в курительных клубах, обсуждали последние новости и вершили судьбы мира. Прошло время, и теперь традицию курительных клубов возрождает «Дым кудрявый» в Екатеринбурге.
        .traditions__hookah
            .traditions__img
        .traditions__info.traditions__info--services
            .traditions__info-title Услуги
            .traditions__info-text Серьезная сигарная карта и достойный выбор кальянов – standart, premium или de luxe. Всегда в наличии элитный алкоголь, который составляет отличную партию сигарам. Всем, кто за рулем бармен предложит авторский чай.
        .traditions__info.traditions__info--entertainment 
            .traditions__info-title Развлечения
            .traditions__info-text В клубе «Дым кудрявый» установлены плазменные панели, на которых можно посмотреть спортивный матч. Также в гостевом зале вы найдете шахматы и шашки, в том числе интересные авторские коллекции.
        .traditions__info.traditions__info--for 
            .traditions__info-title Для кого
            .traditions__info-text Курительный клуб №1 «Дым кудрявый» создан для деловых и неформальных встреч. В отличии от традиционных английских курительных клубов, заведение в Екатеринбурге ждет и джентльменов, и леди.