- var foobar 
//- переменая
#id.class
//- где прописывается просто класс без тега, по умолчанию будет div
include ../../../
extends ../../../ 
//- использовать только абсолютный путь
block content
mixin Name ()
//- миксин может принимать любые атрибуты